<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>企业管理系统</title>
    <link rel="stylesheet" href=" /css/style.default.css" type="text/css" />
    <link rel="shortcut icon" href="/images/titlelogo.png" />
    <script type="text/javascript" src="/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery.flot.min.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src=" /js/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src=" /js/custom/general.js"></script>


    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src=" /js/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href=" /css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href=" /css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src=" /js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Zmh.<span>---</span></h1>
            <span class="slogan">后台管理系统</span>

            <div class="search">
                <!--<form action="" method="post">-->
                    <!--<input type="text" name="keyword" id="keyword" value="请输入" />-->
                    <!--<button class="submitbutton"></button>-->
                <!--</form>-->
            </div><!--search-->

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->
                <span><shiro:principal property="departmentName"> </shiro:principal>：</span>
                <span><shiro:principal property="realName"> </shiro:principal></span>
            &nbsp;&nbsp;&nbsp;
                <a href="/logout">安全退出</a>
            <!--userinfo-->


        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">

            <li class="current"><a href="dashboard.html"><span class="icon icon-flatscreen"></span>个人中心</a></li>
            <shiro:hasRole name="employee">
                <li><a href="manageblog.html"><span class="icon icon-pencil"></span>人员管理</a></li>
            </shiro:hasRole>
            <shiro:hasRole name="asset">
                <li><a href="messages.html"><span class="icon icon-message"></span>财务管理</a></li>
            </shiro:hasRole>
            <li><a href="reports.html"><span class="icon icon-chart"></span>公告中心</a></li>
        </ul>

        <!--<div class="headerwidget">-->
            <!--<div class="earnings">-->
                <!--<div class="one_half">-->
                    <!--<h4>Today's Earnings</h4>-->
                    <!--<h2>$640.01</h2>-->
                <!--</div>&lt;!&ndash;one_half&ndash;&gt;-->
                <!--<div class="one_half last alignright">-->
                    <!--<h4>Current Rate</h4>-->
                    <!--<h2>53%</h2>-->
                <!--</div>&lt;!&ndash;one_half last&ndash;&gt;-->
            <!--</div>&lt;!&ndash;earnings&ndash;&gt;-->
        <!--</div>&lt;!&ndash;headerwidget&ndash;&gt;-->

    </div><!--header-->

    <br/>

    <div class="vernav">
        <ul>
            <li class="current"><a href="manageblog.html" class="editor">基本资料</a></li>
            <li ><a href="manageblog.html" class="editor">学历认证</a></li>
            <li ><a href="manageblog.html" class="editor">体检报告</a></li>
            <li><a href="">工作安排</a></li>
            <li><a href="">工资查询</a></li>
            <li><a href="">审批中心</a></li>
        </ul>
        <a class="togglemenu"></a>
    </div><!--leftmenu-->

    <div class="centercontent" >
        <div th:replace="this :: content"></div>
    </div>


</div><!--bodywrapper-->

</body>
</html>
