<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>


    <meta charset="UTF-8" />
    <!-- 或者  <meta charset="UTF-8" ></meta> -->


    <title>Thymeleaf Demo</title>
</head>
<body>
Welcome:<shiro:principal></shiro:principal>
<shiro:hasRole name="member">
    member
</shiro:hasRole>


<div id="member">
<h3>用户列表</h3>
<table border="1">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
        <td>操作</td>
    </tr>
    <tr v-for="member in memberList">
        <td>{{member.id}}</td>
        <td>{{member.username}}</td>
        <td>{{member.password}}</td>
        <td>{{member.authority}}</td>
        <td>
            <a>编辑</a>
            <a>删除</a>
        </td>
    </tr>
    <tr><a>增加</a></tr>
</table>


</div>
<a href="/logout"> 安全退出 </a>
<script language="JavaScript" src="/common/jquery-3.2.1.min.js"></script>
<script language="JavaScript" src="/common/vue.js"></script>
<script language="JavaScript" src="/js/member_list.js"></script>
</body>
</html>