<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
<body>
<div th:fragment="content" th:remove="tag">

    <!--<script type="text/javascript" src=" /js/custom/dashboard.js"></script>-->

    <div class="pageheader notab">
        <h1 class="pagetitle">员工信息</h1>
        <span class="pagedesc">个人基本信息 学历认证信息 工作岗位信息 </span>

    </div><!--pageheader-->

    <div class="contentwrapper">




    </div>

    <br clear="all" />
</div>
</body>
</html>